<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <% @contents.each do |content| %>
        <%= simple_form_for(content) do |f| %>
          <div class="form-group">
            <h2 class="title"><%= content.title %></h2>
            <%= f.input :description, class: 'form-control' %>
            <%= f.input :image %>
            <%= f.input :image_cache, as: :hidden %>
          </div>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <div class="div">
        <p></p>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
