<section id="wrapper-top">
  <div class="hero">
    <% @headline = @contents.find {|content| content[:title] == "Headline"}.description %>
    <img src=<%= @contents.find {|content| content[:title] == "Headline"}.image %> alt="">
    <h1 class="headline"><b><%= @headline[0] %><span class="blink_text"><%= @headline[1] %></span><%= @headline[2]%><%=@headline[3]%><span class="blink_text"> <%= @headline[4] %></span><%= @headline[5]%><%=@headline[6]%><%= @headline[7]%><%=@headline[8]%> </b></h1>
    <a class = "contact-button scroll" href="#page-contact">Contact me!</a>
  </div>
</section>

<section id = "starani">
  <div class="slider">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
</section>

<section>
  <div id ="wrapper-just", style="background-image: url('<%= cl_image_path @contents.find {|content| content[:title] == "About"}.image, height: 300, width: 400, crop: :fill %>'); background-repeat: no-repeat;background-attachment: fixed; background-position: center;">
    <div class="just">
      <div class="card">
          <h2>DO YOU WANT ONLINE COACHING?</h2>
          <p>I have practiced in training and healthy lifestyle for many years. All that I have tried, read and experienced, over the years, I will share through my online course. No matter what your goal is, it always starts with you daring to get started. Stop thinking about all that can go wrong - think of all that can go well instead! So, if you are dreaming of losing weight, get started in your training and want to work closely with me, sign up for my contact form and I will contact you.</p>
          <a class = "contact-button-just scroll" href="#page-contact">Yes please give me a call!</a>
      </div>
    </div>
  </div>
</section>

<section class="wrapper-about">
  <div id="page-about">
    <div class="model">
      <img class="model-left" src=<%= asset_path('model-left.png') %> alt="model-left">
      <img class="model-right" src=<%= asset_path('model-right.png') %> alt="model-right">
    </div>
    <div class="about-info">
      <div class="card-about">
        <div class="card-option-button">
            <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.900785 3.62676C0.300262 4.74476 1.64539e-06 5.99276 1.58515e-06 7.37076C1.51355e-06 9.00876 0.43081 10.5038 1.29243 11.8558C2.15405 13.2078 3.40731 14.2348 5.05222 14.9368L6.97128 15.7558C8.98172 16.6138 10.5875 17.5368 11.7885 18.5248C12.9896 19.5128 15 20.6218 15 21.9998C15 20.6218 17.0104 19.5128 18.2115 18.5248C19.4386 17.5368 21.0444 16.6138 23.0287 15.7558L24.9478 14.9368C26.5927 14.2348 27.846 13.2078 28.7076 11.8558C29.5692 10.5038 30 9.00876 30 7.37076C30 5.99276 29.6997 4.74476 29.0992 3.62676C28.4987 2.50876 27.6371 1.62476 26.5144 0.974755C25.4178 0.324755 24.0992 -0.000244399 22.5587 -0.000244466C20.7311 -0.000244546 19.1514 0.480755 17.8198 1.44276C16.4883 2.40476 15.5483 3.67875 15 5.26476C14.4517 3.67875 13.5118 2.40476 12.1802 1.44276C10.8486 0.480755 9.26893 -0.000245047 7.44125 -0.000245127C5.92689 -0.000245193 4.60836 0.324754 3.48564 0.974754C2.36293 1.62475 1.50131 2.50876 0.900785 3.62676Z" fill="white"/></svg>
        </div>

        <div class="card-info">
        <h3><%= @contents.find {|content| content[:title] == "About"}.title %></h3>
        <p><%= @contents.find {|content| content[:title] == "About"}.description %></p>
        </div>

        <div class="card-option-button1">
            <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.900785 3.62676C0.300262 4.74476 1.64539e-06 5.99276 1.58515e-06 7.37076C1.51355e-06 9.00876 0.43081 10.5038 1.29243 11.8558C2.15405 13.2078 3.40731 14.2348 5.05222 14.9368L6.97128 15.7558C8.98172 16.6138 10.5875 17.5368 11.7885 18.5248C12.9896 19.5128 15 20.6218 15 21.9998C15 20.6218 17.0104 19.5128 18.2115 18.5248C19.4386 17.5368 21.0444 16.6138 23.0287 15.7558L24.9478 14.9368C26.5927 14.2348 27.846 13.2078 28.7076 11.8558C29.5692 10.5038 30 9.00876 30 7.37076C30 5.99276 29.6997 4.74476 29.0992 3.62676C28.4987 2.50876 27.6371 1.62476 26.5144 0.974755C25.4178 0.324755 24.0992 -0.000244399 22.5587 -0.000244466C20.7311 -0.000244546 19.1514 0.480755 17.8198 1.44276C16.4883 2.40476 15.5483 3.67875 15 5.26476C14.4517 3.67875 13.5118 2.40476 12.1802 1.44276C10.8486 0.480755 9.26893 -0.000245047 7.44125 -0.000245127C5.92689 -0.000245193 4.60836 0.324754 3.48564 0.974754C2.36293 1.62475 1.50131 2.50876 0.900785 3.62676Z" fill="white"/></svg>
        </div>

        <div class="card-info1">
        <h3>Why me?</h3>
        <p>You are seeking someone who can lead fun, energetic classes and work with clients one-on-one and that is exactly what I am prepared to do.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id ="wrapper-just2">
  <div class="just2">
  </div>
</section>

<section id = "wrapper-review">
  <div class="container">
    <h1>Reviews</h1>
    <div class="wrapper">

      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="travel photo">
        <div class="card-trip-infos">
            <div>
              <h2>Axel</h2>
              <p>I've been training with Tina for two years and haven't been bored a single time.</p>
            </div>
            <div>
              <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-trip-user avatar-bordered">
            </div>
        </div>
      </div>

        <div class="card-trip">
          <img src="https://images.unsplash.com/photo-1474524955719-b9f87c50ce47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="travel photo">
          <div class="card-trip-infos">
            <div>
              <h2>Thomas</h2>
              <p>"It's a great feeling to leave my hours with Tina, tired, battered and happy!</p>
            </div>
            <div>
              <img src="https://kitt.lewagon.com/placeholder/users/thomas" class="card-trip-user avatar-bordered">
            </div>
          </div>
      </div>

        <div class="card-trip">
          <img src="https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="travel photo">
          <div class="card-trip-infos">
            <div>
              <h2>Gertrud</h2>
              <p>I'm pretty sure I'm getting the maximum benefit out of my workout.</p>
            </div>
            <div>
              <img src="https://kitt.lewagon.com/placeholder/users/ax-ab" class="card-trip-user avatar-bordered">
            </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id ="wrapper-just1">
  <div class="just1">
  </div>
</section>

<section class="wrapper-contact">
  <div id="page-contact">
    <div class="form">
      <script class="info-form" src="https://api.lenus.io/v1/ab844ef4-a5f9-11e6-bca7-4724e5de00cf/form/lead-form" type="text/javascript"></script>
    </div>
  </div>
</section>
